DATABASE_URL="file:./dev.db"
PORT=3000
JWT_SECRET="primedeal_secret_key_jwt_2026_safe"
CLOUDINARY_CLOUD_NAME="uu5evdi2"
CLOUDINARY_API_KEY="856788519588669"
CLOUDINARY_API_SECRET="9CczOx_FDCm7a-I6DqFsI7hol_k"
